.card__promo {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  width: 120px;
  padding: 8px 8px;
  box-sizing: border-box;
  gap: 4px;
}
