.header__logo-container {
  display: flex;
  flex-direction: row;
  height: 48px;
  width: 145px;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .header__logo-container {
    display: none;
  }
}
