.header__link {
  text-decoration: none;
  color: #393939;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.header__link:hover {
  opacity: 0.8;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .header__link {
    font-size: 18px;
    line-height: 1.11;
  }
}
