.search__container {
  padding: 4px 16px;
  border: 1px solid #73AFF4;
  border-radius: 8px;
  gap: 8px;
  width: 479px;
  display: flex;
  align-items: center;
}

.search__container-small {
  padding: 10px 12px;
  border: 1px solid #D5D5D5;
  border-radius: 5px;
  gap: 8px;
  display: flex;
  align-items: center;
}
